.bg-img1 {
  background: #000;
  background-size: cover;
  height: 70vh;
}
.bg-img2 {
  background: #000;
  background-size: cover;
  height: 70vh;
}
.bg-img3 {
  background: #000;
  background-size: cover;
  height: 70vh;
}
